ul#taskList {
	list-style-type: none;
	padding: 2px;
	background-color: darkseagreen;
	border-top: 1px solid darkblue;
	border-left: 1px solid darkblue;
	border-right: 1px solid darkblue;
	border-bottom: 1px solid darkblue;
}

ul#taskList li {
	padding: 3px;
	font-size: 18px;
	font-weight: bold;
	color: crimson;
}

ul#taskList li:not(:last-child) {
	border-bottom: 1px dotted darkblue;
}
div#newTaskForm input {
  background-color: darkseagreen;
  color: crimson;
  border: 1px solid darkblue;
  font-size: 18px;
  font-weight: bold;
  magin: 0px;
}

div#newTaskForm input[type='submit']:hover {
  border: 1px solid crimson;
}

a[id^='task_check_'] {
  color: crimson;
  border: 1px solid darkblue;
  font-size: 18px;
  font-weight: bold;
}